{{template "header" .}}
<form>
    <div>
    <label for="email">Email Address</label>
    <input name="email" id="email" type="email" placeholder="Email Address" required/>
    </div>
    <div>
    <label for="password">Password</label>
    <input name="password" id="password" type="password" placeholder="Password" required/> 
    </div>
    <div>
    <button type="submit" >Sign Up</button>
    </div>
</form>

{{template "footer" .}}